.input-hidden {
    position: absolute;
    left: -9999px;
  }
  
  input[type=radio] + img {
    border: 1px dashed #444;
    width: 150px;
    height: 150px;
    transition: 500ms all;
    cursor: pointer;
  }
  
  input[type=radio]:checked + img {
   outline: 2px solid #F87DA9;
}

.game__wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
}

.game__submit {
  width: 250px;
  padding: 15px;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 14px;
  margin: 20px auto;
  display: block;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

