.keyboard-box{

    background-color: #F87DA9;
    display: block;
    padding: 10px;
    color: white;
    border: 1px solid #F87DA9;
    margin: 10px auto;
    font-size: 12px;
    width: 600px;
    height: 300px;
    grid-area: a;
    text-align: center;
    position: relative;
    margin-top: -60px;
    top: 0px;
}
 
 .keyboard-image{
    display: flex;
 
 }

 h2 {
     text-align: center;
     margin: 10px auto -20px;
     color: #75787c;
 }

